version: 2.1

parameters:
  setup-config-param:
    default: "Running Bluelabel pipeline"
    type: string
  yml-file:
    default: "bluelabel.yml"
    type: string
  yml-path:
    default: "deployment"
    type: string

jobs:
  bluelabel-processing:
    docker:
      - image: cimg/base:2021.04
    steps:
      - run: Running Bluelabel Pipeline.
workflows:
  bluelabel-workflow:
    jobs:
      - bluelabel-processing
