version: 2.1

parameters:
  affected-app:
    default: "deployment/bluelabel"
    type: string
  affected-app-checked: 
    default: true
    type: boolean  

jobs:
  bluelabel-processing:
    docker:
      - image: cimg/base:2021.04
    steps:
      - run: echo "Running bluelabel Pipeline."
workflows:
  bluelabel-workflow:
    jobs:
      - bluelabel-processing
