version: 2.1

parameters:
  affected-app:
    default: "deployment/spiegel"
    type: string
  affected-app-checked: 
    default: true
    type: boolean  

jobs:
  spiegel-processing:
    docker:
      - image: cimg/base:2021.04
    steps:
      - run: echo "Running spiegel Pipeline."
workflows:
  spiegel-workflow:
    jobs:
      - spiegel-processing
