version: 2.1

setup: true
 
orbs:
  continuation: circleci/continuation@0.1.2

parameters:
  affected-app:
    default: "./check-affected"
    type: string

executors:
  base-12-14-0:
    description: |
      Single Docker container with Node 12.14.0 and Cypress dependencies
      see https://github.com/cypress-io/cypress-docker-images/tree/master/base.
      Use example: `executor: cypress/base-12-14-0`.
    docker:
      - image: cypress/base:12.14.0
  phrase-2-4-10:
    docker:
      - image: phrase/phrase-cli:2.4.10

jobs:
  router:
    executor: continuation/default
    steps:
      - checkout
      - run: echo "Proxy routes to $(basename << pipeline.parameters.affected-app >>) pipeline"
      - continuation/continue:
          configuration_path: ".circleci/<< pipeline.parameters.affected-app >>.yml"
  preprocess: 
    executor: phrase-2-4-10
    steps: 
      - run: echo "Run Preprocess." 

workflows:
  pipeline-proxy:   
    jobs:
      - router
      - preprocess
