version: 2.1

setup: true
 
orbs:
  continuation: circleci/continuation@0.1.2

parameters:
  setup-config-param:
    default: "Exploring the affected apps."
    type: string
  yml-file:
    default: "check-affected.yml"
    type: string
  yml-path:
    default: "."
    type: string

jobs:
  # not-setup:
  #   docker:
  #     - image: cimg/node:13.13
  #   steps:
  #     - run: echo << pipeline.parameters.setup-config-param >>
  #     - run: echo << pipeline.parameters.other >>
  processing:
    executor: continuation/default
    steps:
      - checkout
      - run: echo << pipeline.parameters.setup-config-param >>
      - continuation/continue:
          configuration_path: ".circleci/<< pipeline.parameters.yml-path >>/<< pipeline.parameters.yml-file >>"

workflows:
  setup:
    jobs:
      - processing
