version: 2.1

setup: true
 
orbs:
  continuation: circleci/continuation@0.1.2
  aws-s3: circleci/aws-s3@3.0.0
  nx: nrwl/nx@1.1.0

parameters:
  affected-app:
    default: "./check-affected"
    type: string

workflows:
  pipeline-proxy:   
    jobs:
      - router
      - install-dependencies
      - fetch-locales
      - run-unit-tests
      - run-linter

definitions:

jobs:
  router:
    executor: continuation/default
    steps:
      - checkout
      - run: echo "Proxy routes to $(basename << pipeline.parameters.affected-app >>) pipeline"
      - continuation/continue:
          configuration_path: ".circleci/<< pipeline.parameters.affected-app >>.yml"
  preprocess: 
    steps: 
      - run: echo "Run Preprocess." 
  install-dependencies:
    steps:
      - run: echo "Install Dependencies."
  fetch-locales:
    steps:
      - run: echo "Fetching Locales"
  run-unit-tests:
    steps:
      - run: echo "Run Unit tests."
  run-linter:
    steps:
      - run: echo "Run Linter."